.recent{
    width:100%;
    padding-top:10px;
}
.recent h2{
    font-size: 20px;
    margin:20px 0px;
}
.recent .all-files{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    gap:50px;
    justify-content:flex-start;
}
.all-files .file{
    width:260px;
    height:200px;
    padding:12px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.all-files .file .fileicon{
    border-radius: 2px;
    height:120px;
}
.all-files .file .fileicon .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    font-weight: 600;
    color:white;
    height:100%;
}
.all-files .file .file-info{
    display: flex;
}
.all-files .file .file-info h3{
    font-weight: 400;
    font-size: 20px;
}
.all-files .file .file-info span{
    font-size: 12px;
    margin-top:5px;
}
.all-files .file-operation{
    display: flex;
    gap:30px;
    margin-top:10px;
}
.all-files .file-operation button{
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
}
.recent .share-file{
    padding:10px 20px;
    background-color: rgba(130, 140, 197, 0.507);
    width: 100%;
    border-radius: 8px;
    display: flex;
}
.recent .share-file button{
    padding:8px 20px;
    border-radius: 4px;
    outline: none;
    color:white;
    font-size: 16px;
    border: none;
    background-color: rgb(41, 131, 45);
}
