@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
a{
    text-decoration: none;
} 
li {
    list-style: none;
}
.primaryBtn{
    padding:12px 20px;
    border-radius: 2px;
    background-color: rgb(80, 78, 146) ;
    color:white !important;
}