.modelContainer{
    height:calc(100vh - 12vh);
    width:100vw;
    position: fixed;
    display:flex ;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.model form .form-group{
    margin-top:14px;
}
.model form .form-group label{
    display: block;
}
.model form .form-group input{
    width:100%;
    height:38px;
    padding:10px;
    outline: none;
    border:0.5px solid gray;
    border-radius: 4px;
}
.model form .form-group textarea{
    width:100%;
    height:140px;
    padding:10px;
    outline: none;
    border:0.5px solid gray;
    border-radius: 4px;
}
.model form button{
    padding:12px 20px;
    border-radius: 4px;
    border:none;
    outline: none;
    background-color: rgb(57, 100, 28);
    color:white;
    font-size: 14px;
    margin-top: 20px;
}